<h1>Welcome to P@Chat</h1>


<div class="col-sm-3">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Utilisateurs</h3>
        </div>

        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item">Riri</li>
                <li class="list-group-item">Fifi</li>
                <li class="list-group-item">Toto</li>

            </ul>

        </div>
    </div>

</div>

<div class="col-sm-9">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Chat</h3>
        </div>
        <div class="panel-body">
            <textarea style="height:400px; width:100%;" readonly="true">
                > Bienvenue dans le chat
                @Riri: Quelqu'un a vu Loulou ?
            </textarea>

            <input class="form-control">
        </div>


    </div>
</div>